{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
</head>
<body>
<img src="{% static 'img/logo.jpg' %}" alt="" style="width: 100px;height: 100px;text-align: center">
    <div class="container">
        <h1 class="mt-3" id="header">Home Page</h1>
        <div class="dropdown" style="text-align: right;">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button">Action</button></li>
              <li><button class="dropdown-item" type="button">Another action</button></li>
              <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
          </div>
        <hr class="mb-5">




        <div class="d-grid gap-2">
            <a href="{% url 'courses:list' %}" class="btn btn-outline-primary">course-list</a>
            <a href="{% url 'courses:add' %}" class="btn btn-outline-success">course-add</a>
            <a href="" class="btn btn-outline-secondary">user-list</a>

        </div>
    </div>

    






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>